* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    /* background-color: rgb(249, 237, 129); */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}

main.tree {
    height: 80vh;
    width: 80%;
    max-width: 500px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: darkseagreen; */
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

section.mini_calendar {
    width: 100%;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: darksalmon; */
    margin-bottom: 2rem;
    font-size: 1rem;
    border: 2px solid black;
}

section.mini_calendar p{
    font-size: 1.2rem;
}


.date_day {
    width: 50%;
    height: 20vh;
    padding: 0.5rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px dashed black;
    border-right: none;
}

.date_day h1  {
    font-size: 4rem;
    font-weight: bold;
}

.date_day p  {
    font-weight: bold;
    padding-top: 0.5rem;
}

.month_year {
    width: 40%;
    height: 20vh;
    padding: 0.5rem;
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

p#month {
    padding-bottom: 0.5rem;
}


section.digital_clock {
    font-size: 1.5em;

    width: 100%;
    height: 15vh;
    color: #fff;
    background-color: #26252b;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    border: 0.4rem white;
    border-style: double;

    font-family: Arial, sans-serif;
}


.label {
    font-size: 0.8rem;
    color: #bbb;
}

.dot {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

#hour {
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#timeHour, #timeMins, #timeSecs {
    padding-bottom: 10px;
}

#mins {
    padding: 0px 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#secs {
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 1rem;
}

p#tellTime {
    font-size: 1.5rem;
}

@media screen and (max-width: 375px) {
    main.tree {
        height: 80vh;
        width: 90%;
        padding: 0rem;
    }

}


@media screen and (min-width: 425px) and (max-width: 768px) {
    main.tree {
        max-width: 400px;
    }

}
